# Analyzing the two predictions and how they connect

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_all = pd.read_csv("/scratch/project_2009199/register-vs-genre/register-and-genre/new_results/large_large_03_04.tsv", sep="\t")

In [4]:
print(len(df_all))

5085

In [3]:
pd.set_option('max_colwidth', 500)

In [4]:
label, counts = np.unique(df_all.genre_prediction, return_counts=True)
for l,c in zip(label, counts):
    print(f'{l}: {c}')
print("")
#label, counts = np.unique(df.register_prediction, return_counts=True)
#for l,c in zip(label, counts):
#    print(f'{l}: {c}')

['Cookbooks, Food & Wine']: 58
['Engineering & Transportation', 'Politics & Social Sciences']: 17
['Engineering & Transportation', 'Science & Math']: 6
['Engineering & Transportation']: 618
['Literature & Fiction', 'Politics & Social Sciences']: 173
['Literature & Fiction', 'Science & Math']: 1
['Literature & Fiction']: 1642
['Medicine & Health Sciences', 'Politics & Social Sciences']: 5
['Medicine & Health Sciences', 'Science & Math']: 2
['Medicine & Health Sciences']: 189
['None']: 1190
['Politics & Social Sciences']: 1110
['Science & Math']: 74

In [5]:
# Group by 'col1' and 'col2' and count occurrences
from ast import literal_eval
df2 = pd.DataFrame()
df2['genre_prediction'] = df_all['genre_prediction'].apply(literal_eval)
df2['register_prediction'] = df_all['register_prediction'].apply(literal_eval)


df2 = df2.explode("register_prediction").explode("genre_prediction")
#display(df2)
comb_counts = df2.groupby(['register_prediction', 'genre_prediction']).size().reset_index(name='count')

# Sort the counts in descending order
sorted_comb_counts = comb_counts.sort_values(by='count', ascending=False)

display(sorted_comb_counts.head(10))
display(sorted_comb_counts.tail(10))

   register_prediction              genre_prediction  count
15                  IN          Literature & Fiction    961
17                  IN                          None    819
18                  IN    Politics & Social Sciences    683
31                  NA          Literature & Fiction    608
14                  IN  Engineering & Transportation    510
34                  NA    Politics & Social Sciences    471
65                 dtp          Literature & Fiction    430
67                 dtp                          None    373
92                  ne    Politics & Social Sciences    342
22                  IP          Literature & Fiction    304

    register_prediction              genre_prediction  count
50                   av        Cookbooks, Food & Wine      2
38                 None    Medicine & Health Sciences      2
48                   SP                          None      2
78                   lt                          None      1
80                   nb        Cookbooks, Food & Wine      1
109                  rv        Cookbooks, Food & Wine      1
28                   LY    Politics & Social Sciences      1
112                  rv    Medicine & Health Sciences      1
70                   en  Engineering & Transportation      1
74                   fi  Engineering & Transportation      1

In [10]:
df_weird = df2[df2.genre_prediction=="Politics & Social Sciences"]

df_weird = df_weird[df_weird.register_prediction == "LY"]
display(df_weird)
display(df_all.iloc[3281])

                genre_prediction register_prediction
3281  Politics & Social Sciences                  LY

Unnamed: 0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            3281
id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               196041099
labels                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ['LY']
text                   Dado que no hay tiempo para escribir, aqu√≠ os dejo con unos crudos minutos musicales: We close our eyes and look in opposite direction we ignore the threats and hope they-ll go away we refuse to pay attention to the dangers we create in the name of our fathers we kill our children we wait and think that we are biding our time we keep silent, we believe in our strength we trust in propaganda of the wonders of tomorrow in the shadow of contempt we are victims in the end we dance to the sound o...
register_prediction                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ['LY']
genre_prediction                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ['Literature & Fiction', 'Politics & Social Sciences']
Name: 3281, dtype: object

## Engineering & Transportation

In [ ]:
label = 'Engineering & Transportation'
df = df_all[df_all['genre_prediction'].apply(lambda x: label in x)]
df = df.sample(frac = 1)  # shuffle
df.head(20)

## Politics & Social Sciences

In [ ]:
label = 'Politics & Social Sciences'
df = df_all[df_all['genre_prediction'].apply(lambda x: label in x)]
df = df.sample(frac = 1)  # shuffle
df.head(20)

## Literature & Fiction

In [ ]:
label = 'Literature & Fiction'
df = df_all[df_all['genre_prediction'].apply(lambda x: label in x)]
df = df.sample(frac = 1)  # shuffle
df.head(20)

## Cookbooks, Food & Wine

In [ ]:
label = 'Cookbooks, Food & Wine'
df = df_all[df_all['genre_prediction'].apply(lambda x: label in x)]
df = df.sample(frac = 1)  # shuffle
df.head(20)

## Medicine & Health Sciences

In [ ]:
label = 'Medicine & Health Sciences'
df = df_all[df_all['genre_prediction'].apply(lambda x: label in x)]
df = df.sample(frac = 1)  # shuffle
df.head(20)

## Science & Math

In [ ]:
label = 'Science & Math'
df = df_all[df_all['genre_prediction'].apply(lambda x: label in x)]
df = df.sample(frac = 1)  # shuffle
df.head(20)

## No genre prediction

In [ ]:
label = 'None'
df = df_all[df_all['genre_prediction'].apply(lambda x: label in x)]
df = df.sample(frac = 1)  # shuffle
df.head(20)

## Other way?

In [ ]:
label = 'ID'
df = df_all[df_all['register_prediction'].apply(lambda x: label in x)]
df = df.sample(frac = 1)  # shuffle
df.head(20)

In [ ]:
label = 'ne'
df = df_all[df_all['register_prediction'].apply(lambda x: label in x)]
df = df.sample(frac = 1)  # shuffle
df.head(20)